/* Banner SEO */
.banner-seo {
	background: $section__bg;
	position: relative;
	height: 80vh;

	.banner-content {
		text-align: center;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 100%;

		.banner-title {
			color: #444;
			font-size: 45px;
			font-weight: 700;
			line-height: 65px;
			text-transform: uppercase;
		}

		p {
			font-size: 18px;
			line-height: 28px;
			color: #666666;
			margin-bottom: 35px;
		}
	}
}


/* Banner Softwere */

.banner-softwere {
	// background: #f9f9fe;
	text-align: center;
	padding-top: 210px;
	position: relative;
	z-index: 2;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		max-height: 900px;
		height: 100%;
		background: #f9f9fe;
		z-index: -1;
	}

	.banner-content {
		margin-bottom: 120px;

		.banner-title {
			line-height: 55px;
			font-weight: 700;
			font-size: 42px;
			margin-bottom: 30px;
			color: #222;
		}
	}
}


/* Banner Travel */

.banner-travel {
	background: $section__bg;
	padding: 220px 0 170px;

	.banner-content {
		text-align: center;


		.banner-title {
			font-size: 42px;
			font-weight: 700;
			color: #222;
			margin-bottom: 20px;
		}

		.sub-title {
			font-size: 20px;
			color: #666666;
			font-weight: 600;
			margin: 0;
			margin-bottom: 80px;
		}
	}
}

.datepicker table tr td.active.active {
	background: $color__theme;
	border-color: $color__theme;
}

.booking-wrapper {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 10px 18px 2px rgba(187, 187, 187, 0.2);
	padding: 25px;
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	bottom: -50px;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	max-width: 1200px;
	z-index: 999;

	.booking-info {
		width: calc(20.4% - 2%);
		margin-right: 2%;

		input {
			width: 100%;
			padding: 11px;
			border: 1px solid #ddd;
			outline: 0;
			border-radius: 3px;
			color: #999;
			font-weight: 500;
			font-size: 14px;

			&::placeholder {
				color: #999;
			}
		}

		&:last-child {
			margin-right: 0;
		}

		.sofin-btn {
			display: block;
			width: 100%;
		}

		.sofin-select{

			ul{
				padding: 20px;
				box-shadow: 0px 20px 20px 0px rgba(153, 153, 153, 0.1);

				li{
					padding: 0;

					&:hover {
						color: $color__theme;
						background: transparent;
					}
				}
			}
		}

	}
}



/* Language Dropdown */
.sofin-dropdown {
	display: inline-block;
	position: relative;
	border: 1px solid #dddddd;
	border-radius: 4px;
	padding: 10px 20px;
	width: 100%;
	border-radius: 3px;


	ul {
		opacity: 0;
		transition: opacity 0.3s;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	> ul {
		position: absolute;
		background: #fff;
		left: 0;
		top: 50px;
		border-radius: 3px;
		background-clip: padding-box;
		box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
		width: 100%;


		li {
			white-space: nowrap;
			position: relative;
			z-index: 2;
			padding: 3px 10px;
			transition: all 0.3s ease-in-out;

			&:first-child {

				border-radius: 5px 5px 0 0;
				background-clip: padding-box;
			}

			&:last-child {
				border-radius: 0 0 5px 5px;
				background-clip: padding-box;
				border-bottom: none;
			}

			&:hover {
				background: #E0E6EB;
			}
		}
	}

	> label {
		display: inline-block;
		vertical-align: -9px;
		overflow: hidden;
		cursor: pointer;


		span {
			white-space: nowrap;
			opacity: 1;
			transition: opacity 0.3s;
			color: #333;
		}

		i {
			position: absolute;
			right: 5px;
			top: 50%;
			line-height: 30px;
			width: 30px;
			text-align: center;
			color: #333;
			transform: translateY(-50%);
			font-size: 14px;

		}

	}

	label {
		margin: 0;
	}

	input {
		display: none;

		&:checked ~ ul {
			opacity: 1;

			li {
				cursor: pointer;
			}
		}
	}
}

.sofin-select{
	position: relative;
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 325px;
	color: #cccccc;
	vertical-align: middle;
	text-align: left;
	user-select: none;
	-webkit-touch-callout: none;

	.placeholder{
		position: relative;
		display: block;
		z-index: 1;
		padding: 11px 20px;
		border-radius: 2px;
		cursor: pointer;
		font-size: 14px;
		border: 1px solid #eee;
		color: #999;
		font-weight: 500;

		&:hover{
			color: $color__theme;
		}

		&:after{
			position: absolute;
			right: 1em;
			top: 50%;
			transform: translateY(-50%);
			font-family: 'themify';
			content: "\e64b";
			z-index: 10;
		}
	}

	&.is-open{
		.placeholder:after{
			content: "\e648";
		}
		ul{
			display: block;
		}
	}

	&.select--white{
		.placeholder{
			background: #fff;
			color: #999;
			&:hover{
				background: darken(#fff,2%);
			}
		}
	}

	ul{
		display: none;
		position: absolute;
		overflow: hidden;
		width: 100%;
		background: #fff;
		border-radius: 2px;
		top: 100%;
		left: 0;
		list-style: none;
		margin: 5px 0 0 0;
		padding: 0;
		z-index: 100;
		box-shadow: 0 5px 15px rgba(0,0,0,0.05);
		transition: all 0.3s ease-in-out;
		z-index: 999;

		li{
			display: block;
			text-align: left;
			padding: 10px 15px;
			color: #999;
			cursor: pointer;
			transition: all 0.3s ease-in-out;

			&:hover{
				background: $color__theme;
				color: #fff;
			}
		}
	}
}

/* Banner Event */

.banner-event {
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-position: center center;

	.banner-content {
		text-align: center;

		.banner-title {
			color: #fff;
			font-size: 42px;
			line-height: 55px;
			margin-bottom: 40px;
		}

		.sub-title {
			color: #fff;
			font-size: 20px;
			font-weight: 700;
			margin-bottom: 20px;
		}

		.sofin-btn {
			&:hover {
				color: #fff;
				border-color: #fff;
			}
		}
	}
}


/* Banner Cloud */
.banner-cloud {
	height: 100vh;
	position: relative;
	background-size: cover;
	background-position: center center;

	.banner-content {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);


		.banner-title {
			color: #fff;
			font-size: 42px;
			font-weight: 700;
			line-height: 55px;
			margin-bottom: 20px;
		}

		p {
			margin-bottom: 50px;
			color: #fff;
			font-weight: 400;
		}

		.banner-btn {
			border: 1px solid $color__theme;

			&:hover {
				border-color: #fff;
				color: #fff;
			}

			&.btn-outline{
				border-color: #fff;
				color: #fff;
				margin-right: 20px;

				&:hover {
					border-color: $color__theme;
				}
			}
		}
	}
}


/* Banner Workflow */


.banner-workflow {
	background: $section__bg;
	padding: 230px 0;

	.banner-content {

		.banner-title {
			font-size: 42px;
			line-height: 50px;
			color: #222222;
			font-weight: 700;
			margin-bottom: 20px;
		}

		p {
			font-weight: 500;
			margin-bottom: 40px;
		}
	}
}


@media (max-width: 1024px) {
	.banner-softwere, .banner-seo, .banner-travel {
		.banner-content {
			.banner-title {
				font-size: 35px;
				line-height: 45px;
			}
		}
	}

	.banner-softwere {
		.banner-content {
			margin-bottom: 80px;
		}
	}

}

@media (max-width: 991px) {
	.booking-wrapper {
		.booking-info {
			.sofin-btn {
				padding: 11px 0;
			}

			.sofin-select {
				.placeholder {
					padding:  11px 10px;

					&:after {
						right: 10px;
					}
				}
			}
		}
	}

	.banner-workflow .banner-content {
		margin-bottom: 40px;
	}

}

@media (max-width: 768px) {
	.banner-softwere, .banner-seo, .banner-travel, .banner-event, .banner-cloud, .banner-workflow {
		.banner-content {

			.banner-title {
				font-size: 30px;
				line-height: 34px;
				margin-bottom: 15px;
			}

		}
	}

	.banner-seo {
		height: 100vh;
		.banner-content {
		transform: translateY(-30%);
	}
	}

	.booking-wrapper .booking-info {
		width: calc(50% - 2%);
		margin-bottom: 15px;

		&:last-child {
			flex: 1;
			margin-bottom: 0;

			.sofin-btn {
				background-size: 1500px;
			}
		}
	}

	.banner-workflow {

		padding: 130px 0 60px;
	}

	.workflow-banner-image {
		display: none;
	}

	.banner-softwere {
		padding-top: 110px;
		padding-bottom: 50px;
	}

	.banner-travel {

		padding: 110px 0 200px;
	}

	.banner-cloud .banner-content {
		top: 56%;

		p {
			margin-bottom: 30px;
		}
	}

	.banner-event .banner-content {
		margin-top: 50px;
	}


}

@media (max-width: 576px) {
	.banner-softwere, .banner-seo, .banner-travel, .banner-event, .banner-cloud, .banner-workflow {
		.banner-content {

			.banner-title {
				font-size: 25px;
				line-height: 32px;

				br {
					display: none;
				}
			}

			p {
				br {
					display: none;
				}
			}
		}
	}

	.banner-seo {
		height: 80vh;
	}

	.banner-cloud {
		.banner-content {
			.banner-btn.btn-outline {
				margin-bottom: 10px;
			}
		}
	}

	.banner-softwere {
		.banner-content {
			margin-bottom: 40px;

		}
	}


}