#client-logo {
	box-shadow: 0px 10px 19px 1px rgba(221, 221, 221, 0.2);
	background: #fff;
	padding: 50px 0;
}

.client-slider {
	.slick-slide {
		text-align: center;


		&:focus {
			outline: 0;
		}

		img {
			transition: all 0.3s ease-in-out;
			opacity: 0.5;
			margin: 0 auto;

		}

		&:hover {
			img {
				opacity: 1;

			};
		}
	}
}

#client-logo-two {
	padding: 120px 0 120px;
	background: $section__bg;

	#client-logo {
		box-shadow: none;
	}
}

@media (max-width: 991px) {
	#client-logo-two {
		padding: 80px 0;
	}
}


@media (max-width: 991px) {
	#client-logo-two {
		padding: 50px 0;
	}
}

